@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #353535;
  color: #BDBBB0;
}

h1, h2 {
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 130%;
}

p, a {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}

body {
  background-image: url("./waterphone.jpg");
  background-repeat: no-repeat;
  height: 812px;
}

header {
  text-align: center;
  padding-top: 2.5em;
}
header #freija {
  width: 55%;
}
header .logo {
  width: 21%;
}

main img {
  margin-left: -40%;
  margin-top: 8%;
}

footer {
  margin-top: 0.5em;
  font-size: 50px;
  color: #353535;
  text-align: center;
}
footer iframe {
  display: none;
}
footer blockquote {
  display: none;
}
