@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #9B7A80;
  color: #353535;
}

h1, h2 {
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 130%;
}

p, a {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
}
header img {
  width: 130px;
  margin-left: -1%;
}
header button {
  float: right;
  margin-top: 8%;
  font-size: 180%;
  background-color: transparent;
  color: #353535;
  border: none;
  margin-right: 5%;
}
header nav {
  display: none;
  background-color: #8A897C;
}
header nav ul {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: #BDBBB0;
}

main {
  padding-top: 7em;
  width: 90%;
  margin: 0 auto;
}
main img {
  width: 49%;
}
main section {
  margin-bottom: 10%;
}
main #udenu img {
  width: 100%;
}
main #spotify iframe {
  margin-top: 5%;
}
main #nyheder article {
  margin-bottom: 7%;
}
main #nyheder article a {
  color: #FFFFFF;
}
main #omfreija img {
  width: 100%;
}
