@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  color: #BDBBB0;
}

h1, h2 {
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
}

h1 {
  font-size: 220%;
}

h2 {
  font-size: 130%;
}

p, a {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}

body {
  background-image: url("./waterphone.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.desktop {
  display: none;
}

header {
  text-align: center;
  padding-top: 2.5em;
  -webkit-transition: opacity 2s ease in;
  transition: opacity 2s ease in;
}
header #freija {
  width: 55%;
}
header .logo {
  width: 21%;
}
header #burger, header #cross {
  background: transparent;
  border: none;
  font-size: 150%;
}
header #cross {
  display: none;
}
header nav {
  height: 100%;
}
header nav ul {
  background-color: #8A897C;
}
header nav ul a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 150%;
}
header .burgermenu {
  position: absolute;
  left: 100%;
}

main img {
  margin-top: 8%;
  width: 100%;
}
main article {
  background-color: #FFFFFF;
  border-radius: 3%;
  width: 90%;
  margin: 1em auto;
  padding: 1em 0.7em;
}
main ul {
  margin: 0;
}

footer {
  text-align: center;
}
footer button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 40px;
}
footer section {
  display: none;
  margin: 0 auto 1em auto;
  background-color: #8A897C;
  width: 90%;
  padding-bottom: 0.5em;
}
footer section h1 {
  text-align: left;
  padding-left: 4.5%;
  padding-top: 5%;
}
footer #facebookframe {
  display: block;
}

@media screen and (min-width: 901px) {
  body {
    background-image: url("./background2.jpg");
    background-size: cover;
    height: auto;
  }

  .mobil {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    padding-top: 0;
  }
  header #freija {
    padding-top: 2.6em;
    width: 15%;
  }
  header .logo {
    width: 8%;
    padding-top: 0.5em;
  }

  main iframe {
    margin: 2% auto;
    border-radius: 3%;
  }
  main article {
    width: 900px;
  }

  footer section {
    width: 900px;
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  footer section h1 {
    padding: 3% 0 2% 3%;
  }
}
