@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  color: #BDBBB0;
}

h1, h2 {
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
}

h1 {
  font-size: 220%;
}

h2 {
  font-size: 130%;
}

p, a {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}

body {
  background-image: url("./waterphone.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  position: fixed;
  width: 100%;
  background-color: #9B7A80;
  opacity: 0.9;
  z-index: 3;
  height: 100%;
}

#logo {
  width: 95%;
  position: absolute;
  top: 10%;
  left: 2.5%;
}

.desktop {
  display: none;
}

header {
  padding-top: 0.5em;
  -webkit-transition: opacity 2s ease in;
  transition: opacity 2s ease in;
  /*.logo{
    width: 21%;
  }*/
  /*.burgermenu{
    position: absolute;
    left: 100%;
  }*/
}
header #freija {
  width: 55%;
  margin-left: 5%;
}
header #burgerknapper {
  font-size: 200%;
  position: absolute;
  left: 85%;
  top: 3%;
  z-index: 2;
}
header #burgerknapper button {
  background: transparent;
  border: none;
  position: fixed;
}
header #burgerknapper #cross {
  display: none;
}
header .burgerheader {
  margin: 0;
  height: 0;
}
header nav {
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
}
header nav ul {
  background-color: #9B7A80;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.965;
  z-index: 1;
  margin: 0;
  padding: 3em 0;
  list-style-type: none;
}
header nav ul a {
  color: #353535;
  text-decoration: none;
  font-size: 150%;
  opacity: 1;
  font-size: 200%;
  margin: 1em;
  text-align: center;
}

main img {
  margin-top: 8%;
  width: 100%;
}
main article {
  background-color: #FFFFFF;
  width: 90%;
  margin: 4em auto;
  padding: 1em 4.5%;
}
main ul {
  margin: 0;
}

footer {
  text-align: center;
}
footer button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 50px;
}
footer section {
  display: none;
  margin: 0 auto 1em auto;
  background-color: #8A897C;
  width: 90%;
  padding-bottom: 0.5em;
}
footer section h1 {
  text-align: left;
  padding-left: 4.5%;
  padding-top: 5%;
  font-size: 127%;
}
footer #facebookframe {
  display: block;
}

@media screen and (min-width: 901px) {
  body {
    background-image: url("./background2.jpg");
    background-size: cover;
    height: auto;
  }

  #overlay {
    text-align: center;
  }
  #overlay img {
    width: 28%;
    left: 35%;
    /*display: block;
    margin: 0 auto;*/
  }

  .mobil {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    padding-top: 0;
  }
  header #freija {
    padding-top: 2.6em;
    width: 15%;
  }
  header .logo {
    width: 8%;
    padding-top: 0.5em;
  }

  main iframe {
    margin: 2% auto;
  }
  main article {
    width: 900px;
  }

  footer section {
    width: 900px;
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  footer section h1 {
    padding: 3% 0 2% 3%;
  }
}
