*{
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  background-color: $first;
  color: $second;
}

h1, h2{
  font-family: 'Arima Madurai', cursive;
  margin: 0;
}

p, a{
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}
