@import "_mixin";
@import "_variables";
@import "_reset";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic');

body{
  background-image: url("./waterphone.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 812px;
}

.desktop{
  display: none;
}

header{
  text-align: center;
  padding-top: 2.5em;
  transition: opacity 2s ease in;
  #freija{
    width: 55%;
  }
  .logo{
    width: 21%;
  }
  #burger{
    background: transparent;
    border: none;
    font-size: 150%;
  }
}

main{
  img{
    margin-top: 8%;
    width: 100%;
  }
}

footer{
  margin-top: 0.5em;
  font-size: 50px;
  text-align: center;
  button{
    background-color: transparent;
    border: none;
    color: $second;
  }
  section{
    display: none;
    margin: 0 auto;
    background-color: $fifth;
    h1{
      text-align: left;
      padding-left: 3%;
      padding-top: 5%;
    }
  }
}

@media screen and (min-width:901px){
  body{
    background-image: url('./background2.jpg');
    background-size: cover;
    height: auto;
  }

  .mobil{
    display: none;
  }
  .desktop{
    display: block;
  }
  header{
    padding-top: 0;
    #freija{
      padding-top: 2.6em;
      width: 15%;
    }
    .logo{
      width: 8%;
      padding-top: 0.5em;
    }
  }
  main{
    iframe{
      margin: 2% auto;
      border-radius: 3%;
      //box-shadow: inset 0px 0px 40px 40px $first;
    }
  }
  footer{
    section{
      width: 900px;
      padding-bottom: 2%;
      margin-bottom: 2%;
      h1{
        padding: 3% 0 2% 3%;
      }
    }
    #facebookframe{
      iframe{
        margin: 0 auto;
        height: 380px;
      }
    }
  }
}
