@import "_mixin";
@import "_variables";
@import "_reset";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic');

body{
  background-image: url("./waterphone.jpg");
  background-repeat: no-repeat;
  height: 812px;
}

header{
  text-align: center;
  padding-top: 2.5em;
  transition: opacity 2s ease in;
  #freija{
    width: 55%;
  }
  .logo{
    width: 21%;
  }
}

main{
  img{
    margin-top: 8%;
  }
}

footer{
  margin-top: 0.5em;
  font-size: 50px;
  text-align: center;
  button{
    background-color: transparent;
    border: none;
    color: $second;
  }
  #facebookframe{
    //margin-left: -490px;
    display: none;
  }
  blockquote{
    display: none;
  }
  section{
    display: none;
  }
}
