@import "_mixin";
@import "_variables";
@import "_reset";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic');

body{
  background-image: url("./waterphone.jpg");
  background-repeat: no-repeat;
  height: 812px;
}

main{
  img{
    margin-left: -40%;
    margin-top: 8%;
  }
}
