@import "_mixin";
@import "_variables";
@import "_reset";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Nanum+Gothic');

header{
  //background-color: $fifth;
  position: fixed;
  width: 100%;
  img{
    width: 70px;
    margin-top: 2%;
    margin-left: 5%;
  }
  button{
    float: right;
    margin-top: 8%;
    font-size: 180%;
    background-color: transparent;
    color: $fourth;
    border: none;
    margin-right: 5%;
  }
  nav{
    display: none;
    background-color: $fifth;
    ul{
      list-style-type: none;
      li{
        a{
          text-decoration: none;
          color: $fourth;
        }
      }
    }
  }
}

main{
  img{
    width: 49%;
  }
  width: 90%;
  margin: 0 auto;
  section{
    padding-top: 6.5em;
    //margin-bottom: 10%;
  }
  #udenu{
    img{
      width: 100%;
    }
  }
  #spotify{
    iframe{
      margin-top: 5%;
    }
  }
  #nyheder{
    article{
      margin-bottom: 7%;
      a{
        color: $second;
      }
    }
  }
  #omfreija{
    img{
      width: 100%;
    }
  }
  #fotos{
    section{
      padding-top: 0;
    }
  }
}

footer{

}
